@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(53, 53, 53);
  color: azure;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
  font-weight: 400;
}

.header {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-basis: 100%;
}

.buttons {
  display: flex;
  margin: 30px 0;
  justify-content: center;
  gap: 100px;
}

button {
  width: 100px;
  height: 100px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  font-weight: 800;
  border-radius: 20px;
}

.choice {
  display: flex;
  justify-content: center;
  align-items:flex-end;
  flex-basis: 100%;
  margin: 40px 0 10px;
  text-align: center;
  font-size: 2em;
  color: rgb(179, 179, 179);
}

.scoreboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 150px;
  border-radius: 20px;
}

.scoreboard-header {
  font-weight: 300;
  font-size: 1.5em;
  margin: 0;
}

.scoreboard {
  display: flex;
  margin: 20px;
  gap: 10px;
}
.player-score, .computer-score {
  text-align: center;
  line-height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  width: 100px;
  height: 100px;
  font-size: 3.5em;
  font-weight: 800;
}

.scoreboard-divider {
  text-align: center;
  line-height: 100px;
  font-size: 2.5em;
  font-weight: 800;
  margin: 0;
}

.result {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  max-width: 600px;
  font-size: 3em;
  font-weight: 800;
}

button.restart {
  margin: 20px;
  width: 150px;
  height: 50px;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.4em;
  font-weight: 800;
  border-radius: 20px; 
  background-color: rgb(255, 157, 45);
}